@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
#hero{
    background: url(Assets/mdbg.png);
}
.nav-links {
    transition: top 0.3s ease;
}
.herohead{
    font-family: "Jost";
}

}

